<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>561407839636-l602tdq1358jd3jungdif16qcpar8138.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.561407839636-l602tdq1358jd3jungdif16qcpar8138</string>
	<key>API_KEY</key>
	<string>AIzaSyBcY3QGREn3bvvEUcODL0okMlJJItONcLY</string>
	<key>GCM_SENDER_ID</key>
	<string>561407839636</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.brunothuma.Vinhetas-Brasileirao</string>
	<key>PROJECT_ID</key>
	<string>vinhetas-brasileirao</string>
	<key>STORAGE_BUCKET</key>
	<string>vinhetas-brasileirao.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:561407839636:ios:48d70b59394afdff559381</string>
</dict>
</plist>